# Database Configuration - OC-DB
DB_HOST=
DB_PORT=3306
DB_NAME=oc_db
DB_USER=
DB_PASSWORD=
DB_CONNECTION_LIMIT=10

# Sophia API Configuration
SOPHIA_USERNAME=
SOPHIA_PASSWORD=
SOPHIA_ORGANIZATION_ID=8f19e50e-1be4-48b7-8c2a-6d0c477ff141
SOPHIA_GRAPHQL_URL=https://sophia3.sewan.fr/go/api/graphql/

# JWT Authentication (generer avec: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))")
JWT_SECRET=
JWT_REFRESH_SECRET=

# Application
NODE_ENV=development
